:root{
    font-size: 10px;
}


.warp {
    max-width: 1200px;
    margin: 0 auto;
}

.warp header div.logo {
    text-align: center;
    margin-top: 20px;
}

.warp header div.logo img {
    width: 220px;
}

.warp header ul {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 50px;
    /* background-color: gray; */
    text-align: center;
}

.warp header ul li{
    width: 15%;
}
.warp header ul li:last-child{
    width: 10%;
}
.warp header ul li a {
    text-decoration: none;
    color: black;
    font-family: HanaMin;
    font-size: 2rem;
    /* display: block; */
    padding: 10px 20px;
    transition: 0.3s;
    /* background-color: red; */
}

.warp header ul li a:hover {
    background-color: #535353;
    color: white;
}

.warp header ul li:nth-child(7) a:hover {
    color: black;
    background-color: white;
}


/*footer*/

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
    padding: 20px 80px;
    border-top: 1px solid black;
    /* max-width: 100%; */
    /* background-color: goldenrod; */
}

footer ul li{
    width: 12.5%;
    text-align: center;
}
footer ul li img {
    width: 100%;
}



footer ul li a:hover {
    background-color: #535353;
    color: white;
}

footer ul li a{
    padding: none;
}
footer ul li:nth-child(1) a:hover {
    color: black;
    background-color: white;
}

footer ul li:nth-child(8) a:hover {
    color: black;
    background-color: white;
}
footer ul li a {
    text-decoration: none;
    color: black;
    font-family: HanaMin;
    font-size: 2rem;
    display: block;
    padding: 10px 0;
    transition: 0.3s;
}